@page
@model Portal.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Admin Homepage";
}

<div class="row">
    <div class="col-md-3">
        <form method="post">
            <h3>Assume Role</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssumeRole"></label>
                <input asp-for="AssumeRole" class="form-control" required>
                <span asp-validation-for="AssumeRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Assume Role</button>
            </div>
        </form>
    </div>
</div>

<p>You should only be able to see this if you are an admin</p>
